<owl-carousel-o class="carousel" [options]="ownOptions">
    <!-- <ng-template carouselSlide class="slide">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>
                    Smart savings that bring you prosperity
                </h4>
                <p>
                    Digital gold for new-age investors at small, affordable quantities.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <video controls="true" src="https://youtu.be/hub4MSsc5qQ"></video>
            </div>
        </div>
    </ng-template> -->
</owl-carousel-o>
<section id="about-safegold" class="my-3">
    <div class="container">
        <h4 class="title-center">About Safegold</h4>
        <p>SafeGold is a convenient platform to transact in certified, 24K vault stored gold. IDBI Trusteeship and
            Brinks serve as an independent trustee and custodian to ensure that your gold remains safe at all times.
            Customers do not take any counterparty risk on Digital Gold India Private Limited.</p>
    </div>
</section>
<section id="why-safegold" class="my-3">
    <div class="container">
        <h4 class="title-center">Why Safegold</h4>
        <ul>
            <li *ngFor="let why of whys">{{why.text}}</li>
        </ul>
    </div>
</section>
<section id="partners" class="my-3">
    <div class="container">
        <h4 class="title-center">Our Partners</h4>
    </div>
</section>